				/*-----Спецификация-----*/
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #fff;
}
.container{
	/*width: 1170px;*/
	margin: 0 auto;
}
div,p,a,button,span{
	box-sizing: border-box;
}
p,div{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	display: block;
}
h4{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
ul,li{
	display: block;
	margin: 0;
	padding: 0;
}
.button{
	color: #fff;
	background: #e84545;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	outline: none;
	border: 2px solid transparent;
}
.button:focus{
	outline: none;
	background: none;
	color: #000;
	border: 2px solid #e84545;
}
.text{
	font-size: 14px;
	font-weight: normal;
	color: #6c7279;
	line-height: 1.5em;
}
				/*-----Первая секция-----*/
.header{
	background: url('../img/header.jpg') no-repeat center/cover;
	padding: 26px 0 243px;
}
.navigation{
	border-bottom: 1px solid #47464c;
	padding-bottom: 28px;
}
.navigation__logo{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #626fe4;
}
.navigation__small{
	color: #fff;
	font-weight: normal;
}
.menu{
	justify-content: flex-end;
}
.menu__item{
	
}
.menu__link{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	color: #d9d8d9;
	text-decoration: none;
	padding: 0 35px 39px;
	border-bottom: 3px solid transparent;
	transition: all 1s ease;
}
.menu__link:hover{
	border-bottom: 3px solid #9d9c9e;
	text-decoration: none;
	color: #d9d8d9;
}
.offer{
	text-align: center;
	margin-top: 176px;
}
.offer__title{
	font-size: 45px;
	font-weight: bold;
	color: #fff;
	line-height: 1.5em;
}
.offer__text{
	font-size: 22px;
	font-weight: normal;
	color: #fff;
	line-height: 1.5em;
	max-width: 562px;
	text-align: center;
	margin: 24px auto 27px;
}
.offer__button{
	width: 200px;
	line-height: 42px;
}
					/*-----Вторая секция-----*/
.features{
	padding: 121px 0 56px;
}
.features__block{
	margin-bottom: 68px;
}
.features__title{
	color: #2d3033;
	margin: 28px 0 22px;
}
.features__text{
	max-width: 305px;
	margin: 0 auto;
}
					/*-----Третья секция-----*/
.works{
	padding-bottom: 104px;
}
.works__img{
	width: 100%;
	height: auto;
	display: block;
}
.works__block{
	position: relative;
	margin-bottom: 26px;
}
.works__overlay{
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(232,69,69,0.90);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 1s ease;
}
.works__overlay:hover{
	opacity: 1;
}
.works__text{
	font-weight: normal;
	font-size: 14px;
	margin-top: 5px;
}
					/*-----Четвертая секция-----*/
.team{
	background: #f1f2fd;
	padding: 123px 0px 113px;
}
.team__title{
	color: #000;
	font-weight: bold;
	font-size: 22px;
	margin-top: 26px;
}
.team__block{
	
}
.team__img{
	width: 100%;
	display: block;
}
.team__prof{
	font-size: 13px;
	font-weight: normal;
	color: #e84545;
	text-transform: uppercase;
	margin: 10px 0 24px;
}
.team__text{
	margin-bottom: 25px;
}
.team__item{
	width: 38px;
	line-height: 38px;
	background: #fff;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-right: 5px;
}
.fab{
	color: #c6cacc;
}
					/*-----Пятая секция-----*/
.clients{
	padding-bottom: 94px;
}
.container-fluid_plain{
	padding-right: 0px;
	padding-left: 0px;
}
.clients__image{
	background: url('../img/girl.jpg') no-repeat center/cover;
	height: 500px;	
}
.clients__block{
	background: #53354a;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 132px 20px 153px ;
}
.clients__quote{
	font-size: 36px;
	font-weight: normal;
	font-style: italic;
	max-width: 500px;
	line-height: 1.16em;
}
.clients__text{
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 32px;
}
					/*-----Шестая секция-----*/
.download{
	padding-bottom: 100px;
	color: #000;
}
.download__block{
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.download__title{
	font-size: 28px;
	font-weight: bold;
}
.download__text{
	font-size: 13px;
	font-weight: normal;
	margin: 12px 0 35px;
	text-transform: uppercase;
}
.download__button{
	width: 280px;
	height: 46px;
}
					/*-----Седьмая секция-----*/
.footer{
	background: #3a3e64;
	padding: 82px 0px;
	position: relative;
	border-bottom: 12px solid #313454;
}
.footer__block{
	text-align: center;
}
.footer__text{
	font-size: 14px;
	font-weight: normal;
	color: #adaebb;
	margin-top: 14px;
}
.footer__grey{
	color: #808080;
	margin-top: 20px;
}
.footer__red{
	text-transform: uppercase;
	color: #e84545;
}
.footer__white{
	color: #fff;
}
