* {
  box-sizing: border-box;
}
ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
header {
  padding-top: 77px;
  padding-bottom: 176px;
  color: #fff;
  background-color: #1326ce;
}
.nav {
  display: flex;
  align-items: center;
  margin-bottom: 157px;
}
.nav__mail {
  margin-left: auto;
  display: block;
}
.nav__img {
  display: block;
}
.main__headline {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.32em;
}
.list {
  display: flex;
  margin-top: 49px;
}
.list__item {
  margin-right: 26px;
}
.block-text {
  padding: 26px;
  width: 510px;
  background: #0e20bf;
  margin-top: 40px;
  border-radius: 10px;
}
.block-text__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.32em;
  text-transform: none;
}
.block-text__intro {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.32em;
  width: 421px;
}

.skills {
  background: #ececec;
  padding: 128px 0;
}

.skills__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 1.42em;
  margin-bottom: 72px;
}

.table {
  border-spacing: 0px;
  border-collapse: collapse;
}
.table__col {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.32em;
  text-align: center;

  width: 286px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #000000;
}
.table__col_strong {
  background: #e8e8e8;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
}

.target {
  background: #ececec;
  padding-bottom: 128px;
}

.target__title {
  font-weight: 800;
  font-size: 35px;
  line-height: 1.42em;
  margin-bottom: 72px;
}

.target__items {
  display: flex;
  justify-content: space-between;
}

.target__circle {
  display: block;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: green;
  border-radius: 50%;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}
.target__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 114px 30px;
  background: #fff;
  width: 273px;
  text-align: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
.target__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.42em;
}

.target__circle_green {
  background: #3aa629;
}
.target__circle_orange {
  background: #ff8038;
}
.target__circle_purple {
  background: #903ef9;
}
.target__circle_pink {
  background: #f93e98;
}
