body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
div,p,a,button,span{
	box-sizing: border-box;
}
p,div{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	display: block;
}
h1{
	font-size: 45px;
	font-weight: 900;
	color: #495ee1;
	text-align: center;
	margin: 24px;
}
h2{
	font-size: 28px;
	font-weight: 900;
}
h4{
	font-size: 19px;
	font-weight: 900; 
}
h5{
	font-size: 17px;
	font-weight: 900;
	text-align: center;
}
ul,li{
	display: block;
	margin: 0;
	padding: 0;
}
.display-f{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.tac{
	text-align: center;
}
.aifs{
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.align-item{
	-ms-align-items: center;
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
.jcsa{
	justify-content: space-around;
}
.jcfs{
	justify-content: flex-start;
}
.jcc{
	justify-content: center;
}
				/*------первая секция------*/
.navigation{
	background: #fff;
	align-items: center;
}
.header__navigation{
	box-shadow: inset 2px 0px 9px rgba(0, 0, 0, 0.16);
	padding: 16px 0px 24px;
}
.logo__item{
	display: block;
	width: 49px;
	background: #1b3bde;
	font-size: 25px;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.logo__text{
	font-size: 15px;
	color: #1b3bde;
	width: 95px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	margin-left: 10px;
	margin-top: 5px;
}
.logo__word{
	font-size: 20px;
}
.menu{
 	margin-left: 100px;
}
.menu__item{
	margin-right: 13px;
}
.menu__link{
	display: block;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 22px;
	border-radius: 5px;
	color: #000;
	transition: 0.3s;
}
.menu__item:last-child{
	margin-right: 0px;
}
.menu__link:hover{
	background: #000;
	color: #fff;
}
.tel{
	text-decoration: none;
	color: #000;
	font-weight: 900;
	font-size: 15px;
	margin-left: auto;
	border-bottom: 1px dotted transparent;
	transition: 0.5s;
}
.tel:hover{
	border-bottom: 1px dotted #000;
}
.wrapper{
	padding-bottom: 138px;
	padding-top: 90px;
	background: url('../img/back.jpg');
}
.prof{
	width: 535px;
}
.prof__text{
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}
.prof__date{
	font-size: 14px;
	font-weight: normal;
	background: #000;
	color: #fff;
	border-radius: 5px;
	width: 148px;
	text-align: center;
	padding: 6px 16px;
	margin: 0 auto;
}


.form{
	width: 272px;
	background: #fff;
	padding: 32px 30px 34px;
	border-radius: 5px;
    box-shadow: 13px 0px 98px rgba(0, 0, 0, 0.24);
}
.form__text{
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	text-align: center;
	margin: 14px auto;
	width: 265px;
}
.form__protection{
	color: #adadad;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}
.form__wrap input{
	border:none;
	border-bottom: 1px solid #bababa;
	width: 270px;
	align-items: center;
	line-height: 40px;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 10px;
	outline: none;
	transition: opacity 0.3s ease;
}
input::-moz-placeholder { color: #bababa; }
input::-webkit-input-placeholder { color: #bababa; }
input:focus{
	border-bottom: 1px solid #000;
	color: #000;
}
input:focus::-webkit-input-placeholder {color: #000}
input:focus::-moz-placeholder          {color: #000}
input:focus:-moz-placeholder           {color: #000}
input:focus:-ms-input-placeholder      {color: #000}
.form__wrap button{
	width: 269px;
	background: #4acc4d;
	color: #fff;
	font-size: 16px;
	font-weight: 900;
	line-height: 59px;
	border:none;
	border-radius: 5px;
	margin-bottom: 17px;
	margin-top: 6px;
	outline: none;
	cursor: pointer;
}
				/*------вторая секция------*/
.description{
	padding: 122px 0px 117px;
}
.offer{
	margin-bottom: 67px;
}
.author{
	width: 470px;
	padding: 34px 0px 47px 57px;
	background: #9d6bdc;
	color: #f1ebfa;
	border-radius: 5px;
    box-shadow: 13px 0px 98px rgba(0, 0, 0, 0.24);
}
.author__title{
	margin-bottom: 13px;
	font-size: 18px;
	font-weight: 900;
}
.author__text{
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
	line-height: 1.4em;
	letter-spacing: 0.04em;
}
.list{
	width: 300px;
}
.list__large{
	font-size: 39px;
	font-weight: bold;
	margin-right: 10px;
}
.list__small{
	font-size: 13px;
	font-weight: normal;
}
.list__one{
	width: 184px;
	margin-right: 34px
}
.list__two{
	width: 78px;
}
.know{
	width: 590px;
    margin-bottom: 34px;
}
.author__link{
	text-decoration: none;
	color: #f1ebfa;
	display: block;
	width: 120px;
	margin-top: 18px;
}
.author__link:hover{
	color: #ebb9c3;
}
.know{
	
}
.know__title{
	font-size: 28px;
	font-weight: 900;
    line-height: 2.4em;
}
.know__text{
	width: 440px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.02em;
	line-height: 1.56em;
}
.know__large{
	font-weight: bold;
}
.hm{
	width: 588px;
	margin-bottom: 46px;
}
.hm__title{
	margin-left: 123px;
	line-height: 2.4em;
}
.hm__text{
	margin-left: 123px;
	width: 440px;
	font-size: 15px;
	font-weight: normal;
    line-height: 1.56em;
    letter-spacing: 0.02em;
}
.month{
	width: 470px;
	height: 265px;
	background: #f6e23a;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
    box-shadow: 13px 0px 98px rgba(0, 0, 0, 0.24);
}
.money{
	text-align: center;
	font-weight: normal;
	font-size: 21px;
}
.money__large{
	font-size: 43px;
	font-weight: 900;
	display: block;
	line-height: 0.73em;
}
				/*------третья секция------*/
.show{
	padding: 105px 0px;
	background: url('../img/back.jpg');
}
.show__title{
	width: 253px;
}
.docket{
	margin-top: 75px;
}
.docket__number{
	width: 80px;
	line-height: 80px;
	background: #1b3bde;
	border-radius: 5px;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
	color: #fff;
	margin-right: 28px;
}
.docket__title{
	color: #1b3bde;
	width: 210px;
	margin-top: 20px;
}
.docket__text{
	width: 224px;
	margin-top: 14px;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4em;
	letter-spacing: 0.02em;
}
				/*------четвертая секция------*/
.if{
	padding: 85px 0 97px;
}
.if__title{
	margin-bottom: 68px;
}
.elements__item{
	width: 347px;
	height: 237px;
	color: #fff;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	box-shadow: 13px 0px 98px rgba(0, 0, 0, 0.24);
}
.elements__item:hover{
    box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.22);
	transition: 0.5s;
}

.elements__text{
	width: 165px;
	text-align: center;
	font-size: 19px;
	font-weight: 900;
	margin-top: 15px;
}
.elements__wide{
	width: 255px;
}
.elements__item_green{
	background: #4acc4d;
}
.elements__item_blue{
	background: #4ac7cc;
}
.elements__item_pink{
	background: #dc6b83;
}
.elements__icon{
	font-size: 42px;
}
				/*------пятая секция------*/
.opportunity{
	background: url(../img/back1.jpg);
	padding: 106px 0;
}
.reserv{
	width: 572px;
	color:#fff;
}
.reserv__text{
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	line-height: 3.3em;
}
.reserv__title{
	text-align: center;
	margin: 16px 0 22px;
	line-height: 1.32em;
}
.reserv__date{
	font-size: 16px;
	font-weight: 300;
	margin-right: 10px;
	line-height: 3.3em;
}
.reserv__place{
	font-size: 16px;
	font-weight: 300;

}
				/*------шестая секция------*/
.footer{

}
.navigation__protect{
	margin-left: 155px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}
.footer__navigation{
		padding: 24px 0;
}
