body{
	font-family: Arial, Tahoma ,sans-sarif;
	padding: 0;
	margin: 0;
}
.container{
	width: 960px;
	margin: 0 auto;
}
div,p,h3,h2,h1,textarea,img,button{
	box-sizing: border-box;
}
p{
	margin: 0;
	padding: 0;
	/*line-height: 1.47em;
	letter-spacing: 0,02em;*/
}
ul,li{
	display: block;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	font-weight: bold;
	letter-spacing: 0,02em;
}
h1{
	font-size: 23px;
	text-transform: uppercase;
	color: #272c2f;
	padding-top: 4px;
}
h2{
	font-size: 19px;
	text-transform: uppercase;
	color: #272c2f;
	width: 300px;
	padding-bottom: 40px;
}
h3{
	font-size: 17px;
}
.header{
	
}
.dja{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation{
	background: #455991;
	color: #fff;
	padding: 30px 0px 32px 0;
	box-shadow:0 0 5px rgba(39, 44, 47, 0.42);
}
.navigation a{
	color: #fff;
}
.logo{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
.menu li{
	font-weight: bold;
	font-size: 15px;
	margin-right: 28px;
	border-bottom: 2px solid;
}
.menu li:last-child{
	margin-right: 0px;
}
.menu a{
	text-decoration: none;
}
.number{
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
.headline{
	width: 420px;
	padding:77px 0px 36px 0;
}
.headline p{
	color: #828899;
	line-height: 1.57em;
	font-weight: normal;
	font-size: 14px;
}
.title{
	margin-bottom: 21px;
}
.elements{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	padding-bottom: 47px;
}
.elements p{
	font-size: 15px;
	font-weight: normal;
	color: #272c2f;
	line-height: 1.47em;
	letter-spacing: 0,02em;
}
.elements h3{
	margin-bottom: 19px;
	color:#272c2f;
}
.block{
	padding: 25px;
	width: 308px;
	border:1px solid #d6d6d6;
}
.first{

}
.second{
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(39, 44, 47, 0.48);
}
.third{

}
.discover{
	text-decoration: none;
	color: #22a2ec;
	font-size: 15px;
	font-weight: bold;
	display: block;
	margin-top: 8px;
}
.content{
	font-weight: normal;
	font-size: 14px;
	padding-bottom: 65px;
}
.left{
	width: 359px;
}
.right{
	width: 547px;
	padding: 40px 62px 41px 44px;
	background: #184c6b;
	color: #c0ddee;
	border-radius: 10px;
}
.right h3{
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
}
.text{
	display: flex;
	margin-top: 23px;
}
.text p{
	margin-right: 31px;
	line-height: 1.5em;
	letter-spacing: 0,02em;
	font-size: 14px;
	font-weight: normal;
}
.text p:last-child{
	margin-right: 0px;
}
.text img{
	margin-top: 23px;	
}
.left p{
	font-weight: normal;
	font-size: 12px;
	color: #c3c6c7;
}
input{
	width: 240px;
	padding: 10px 10px 12px 20px;
	margin-bottom: 16px;
	border:1px solid #d6d6d6;
	font-family: Arial, Tahoma ,sans-sarif;
	font-size: 15px;
	font-weight: normal;
	outline: none;
}
input::-moz-placeholder { color: #a2a3a4; }
input::-webkit-input-placeholder { color: #a2a3a4; }
textarea{
	width: 358px;
	height: 124px;
	padding: 10px 10px 12px 20px;
	border-color: #d6d6d6;
	font-family: Arial, Tahoma ,sans-sarif;
	font-weight: normal;
	font-size: 15px;
	resize: none;
	outline: none;
}
textarea:-moz-placeholder { color: #a2a3a4; }
textarea::-webkit-input-placeholder { color: #a2a3a4; }
form button{
	width: 166px;
	color: #272c2f;
	background: #ebce0d;
	padding: 12px 36px 12px 42px;
	font-weight: bold;
	font-size: 15px;
	border:none;
	margin: 20px 0px 20px 0px;
	font-family: Arial, Tahoma ,sans-sarif;
	cursor: pointer;
	outline: none;
}
footer{
	background: #455991;
	color: #ffffff;
}
footer{
	padding-top: 26px;
	padding-bottom: 28px;
}
footer p{
	font-size: 13px;
	font-weight: normal;

}
.circuit-first{
	width: 146px;
	color: #ffffff;
	padding: 12px 14px 12px 15px;
	font-weight: bold;
	font-size: 12px;
	border:1px solid #fff;
	border-radius: 5px;
	font-family: Arial, Tahoma ,sans-sarif;
	cursor: pointer;
	background: none;
	outline: none;
}
.circuit-second{	
	border-radius: 90px;	
}
.block-white{
	width: 229px;
	color: #455991;
	background: #fff;
	padding: 13px 22px 13px 20px;
	font-size: 12px;
	font-weight: normal;
	border-radius: 3px;
}



